* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Orbitron", sans-serif;
  background-color: #05060f;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Also remove on hover & focus */
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

/* Custom Scrollbar (Desktop Only) */
@media (min-width: 1025px) {
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #05060f;
  }

  /* Futuristic Neon Scroll Thumb */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #6030e4, #3b82f6);
    border-radius: 6px;
    border: 2px solid #05060f;
    /* Spacing from track */

    /* Neon Glow */
    box-shadow: inset 0 0 6px rgba(160, 100, 255, 0.8),
      0 0 8px rgba(96, 48, 228, 0.6);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #7c4dff, #60a5fa);

    /* Stronger Neon Glow on Hover */
    box-shadow: inset 0 0 8px rgba(200, 160, 255, 1),
      0 0 15px rgba(124, 77, 255, 0.8),
      0 0 30px rgba(59, 130, 246, 0.6);
  }
}

/* Hide Scrollbar on Mobile & Tablet */
@media (max-width: 1024px) {
  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    display: none;
  }

  /* Additional rule to ensure it's hidden */
  body,
  html {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE/Edge */
  }
}