* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Orbitron", sans-serif;
  background-color: #05060f;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Also remove on hover & focus */
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
